h1{
    font-size: 24px;
}

table{
    // margin-bottom: 63px;
    span{
        width: 18px;
        height: 18px;
        // font-size: 18px;
    }
} 


table ul a{
    color: $gray-900;
}

.container nav{
    margin-top: 63px;
}
